.submission-box1 {
    width: 705px;
    height: 516px;
    border: 1px solid rgb(231, 234, 238);
    background-color: white;
    margin: auto;
    margin-top: 125px;

}

.tick {
    margin: auto;
    width: 28px;
    height: 28px;
    background-color: #88BE37;
    border-radius:15px;
    padding: 6px;
    margin-top: 100px;
}


    

.submission-box2 {
    width: 305px;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
}

.submission-box2,
h1 {
    color:#1F1E1C;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}

.submission-box2,
h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
}

.submission-box2,
p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}


.Score-btn {
    margin-top: 50px;
    padding: 16px 35px;
    margin-left: 37%;
    border-radius: 10px;
    border: 2px solid #F4D150;
    background: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
}