.cercle1 {
    background: conic-gradient(#EBE9E6 0deg 300deg, #E68086 300deg 360deg);
    width: 142px;
    height: 142px;
    border-radius: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 576px) {
    .cercle1 {
        background: conic-gradient(#EBE9E6 0deg 160deg, #E68086 150deg 150deg);
    }
}


.cercle2 {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: white;
    position: relative;
    margin-top: -131px;
    margin-left: 11px;


}

.second {
    color: #E68086;
    font-family: "Inter";
    font-size: 23px;
    padding: 35px 20px;
}

.minute {
    color: var(--Dark-a, #1F1E1C);
    font-family: Inter;
    font-size: 12px;
    word-spacing: 10px;
    padding: 0px 31px;
    margin-top: -28px;

}

.time {
    padding: 10px;
    margin-top: 12px;
}
