.header-assessment {
    background-color: #FCFAFA;
}

.header-assessment-row {
    width: 1200px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* border: 1px solid black; */
    margin: auto;
}

@media screen and (max-width: 576px) {

    .header-assessment-row {
        width: 100%;
        display: block;

    }
}

.header-assessment-logo {
    display: flex;
    /* border: 1px solid black; */
}

@media screen and (max-width: 576px) {

    .header-assessment-logo {
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        padding: 10px;
    }
}

.header-assessment-pagination {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 16px;
}

@media screen and (max-width: 576px) {

    .header-assessment-pagination {
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
        justify-content: center;
        margin-top: 2%;
        background-color: #FCFAFA;
        /* border: 1px solid black; */
        height: 74px;
    }
}


.header-assessment-Submit {
    width: 130px;
    height: 54px;
    margin-left: 73px;
    /* border: 1px solid black; */
}

@media screen and (max-width: 576px) {
    .header-assessment-Submit {
        position: fixed;
        bottom: 110px;
        right: 22px;
        z-index:30;

    }
}

.btn {

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 35px;
    border-radius: 4px;
    background: var(--Accent-Light, #FEEEB4);
    border: 1px solid var(--Accent, #F4D150);
}

.qa {
    padding: 10px;
    /* margin-top: 10px; */
    text-transform: uppercase;
    font-size: 28.736px;
    font-family: "Josefin Sans";
    font-weight: 700;
    color: #8F887C;
    /* border: 1px solid black; */
}

