.pagination-page {
    color: var(--Dark-a, #1F1E1C);
    font-family: "Inria Sans";
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .arrow-left {
        width: 28px;
        height: 28px;    
        margin-top: 15px;
    }

    .pagination-page {
        display: none;
    }

    .pagination-page:nth-child(2),
    .pagination-page:nth-child(7),
    .pagination-page:nth-child(11) {
        display: block;

    }
    .arrow-right {
        width: 28px;
        height: 28px; 
        margin-top: 15px;   
    }
}

.dot {
    display: none;
}

@media screen and (max-width: 576px) {
    .dot {
        display: flex;
        line-height: 28px;

    }
}

.pagination-page:hover {
    background-color: #b7bbcf;
}


@media screen and (max-width: 576px) {

    .pagination-col {
        justify-content: center;
        float: none;
        display: none;
        background-color: white;
        border: 1px solid black;
        float: left;
        height: 74px;
    }



}