.container {
    width: 1200px;
    height: auto;
    /* border: 1px solid #f52020; */
    margin: auto;
    display: flex;
}


.questions-box {
    width: 560px;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 66px;

}

.box {
    display: flex;
    justify-content: space-between;
}

.col-box1 {
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    /* border: 1px solid rgb(2, 43, 9); */
    line-height: 150%;
    width: 400px;
    height: 19px;


}

.col-box2 {
    width: 144px;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}

.Questions-col1 {
    padding: 40px;
    border-radius: 12px;
    background: #FCFAFA;
    width: 560px;

}

.Q {
    color: #1F1E1C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.options {
    border-radius: 50%;
    width: 140px;
    color: #4C4B49;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 150%; */
    position: relative;
    padding-left: 35px;
    white-space: nowrap;
}

.options::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    /* background-color: rgb(235, 191, 46); */
    border-radius: 50%;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .questions-box {
        width: 320px;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
        margin-top: 58px;
    }

    .col-box1 {
        width: 200px;
        height: 19px;
    }

    .Questions-col1 {
        display: flex;
        padding: 40px 30px;
        flex-direction: column;
        width: 100%
    }


    .container {
        width: 360px;
        height: auto;
        /* border: 1px solid #2f5e03; */
        display: inline-block;
    }

}

.col1 {
    width: 150px;
    height: 180px;
    /* border: 1px solid #2f5e03; */
    margin-left: 160px;
    margin-top: -50px;
    display: flex;

}

.col2 {
    width: 284px;
    height: 375px;
    /* border: 1px solid #2f5e03; */
    margin-left: 100px;
    margin-top: 20px;
}

.col3 {
    width: 560px;
    height: auto;
    /* border: 1px solid #da241ee1; */
    margin-right: auto;
    margin-bottom: 136px;
    ;
}

@media screen and (max-width: 768px) {
    .col1 {
        margin-top: 23px;
        margin-left: 20px;
        width: 152px;
        height: 180px;
        /* border: 1px solid black; */
    }

    .col2 {
        display: none;
    }

    .col3 {
        width: 360px;
        height: auto;
        /* border: 3px solid #da241ee1; */
        margin-bottom: 258px;
        ;
    }

}

.row-fast {
    width: 440px;
    /* border: 1px solid hsl(295, 94%, 19%); */

}

.row-second {
    width: 600px;
    /* border: 1px solid hsl(295, 94%, 19%); */
    margin-right: 100px;
}

@media screen and (max-width: 768px) {
    .row-second {
        width: 320px;
        /* border: 1px solid hsl(295, 94%, 19%); */
        /* flex-grow: 1; */
    }

    .row-fast {
        width: 100%;
        /* border: 1px solid hsl(295, 94%, 19%); */

    }
}