* {
  box-sizing: border-box;
}

@media (min-width: 1665px) {
  .container {
    width: 1240px;
    margin: auto;
    border: 2px solid #b7cbd1;

  }
}

body {
  background: #EBE9E6;
  border: 2px solid #b7cbd1;

}


/* Mobile view */

@media(max-width:786px) {

  .row {
    width: auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    background: #FCFAFA;
  }

  .col1 {

    margin-left: 120px;
  }
}


/* header css */
/* first page */

.header-row{
  display: flex;
  width: auto;
  height: 72px;
  padding: 18px 0px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  background: #FCFAFA;
  
}

.header-col1 {
  margin-left: 367px;
}

.col2 {
  padding: 10px;
  /* border: 1px solid black; */
  text-transform: uppercase;
  font-size: 28.736px;
  font-family: "Josefin Sans";
  font-weight: 700;
  color: #8F887C;
  width: 48px;
  margin-right:367px;

}

.col3 {
  color: #4C4B49;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  text-decoration: none;
}

.col4 {
  padding: 10px;
  /* border: 1px solid black; */
  color: #4C4B49;
  text-decoration: none;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;

}



/* second page */
.secondpage-row {
  display: flex;
  height: 72px;
  padding: 18px 0px;
  align-items: center;
  /* border: 2px solid blue; */
  background: #FCFAFA;
}
.secondpage-col1 {
  margin-left: 120px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 220px;

}

.submitted-btn {
  margin-left: 50px;
  padding: 16px 35px;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
}

/* footer css */

.footer-row {
  display: flex;
  height: 171px;
  padding: 46px 0px 68px 0px;
  justify-content: center;
  align-items: center;
  background: #4C4B49;
  margin-top: 143px;

}


.p1 {
  width: 57px;
  height: 22px;
  margin-left: 115px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;



}


.p2 {
  margin-top: 10px;
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 289px;
  height: 17px;
  color: white;

}


@media(max-width:786px) {
  .footer-row {
    display: flex;
    height: 171px;
    padding: 46px 35px 68px 36px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
}