h1 {
    text-align: center;
    color: #4C4B49;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 84px;
}

.portal-box {
    border: 1px solid hwb(144 86% 8%);
    width: 705px;
    height: auto;
    margin: auto;
    background-color: white;
    margin-top: 19px;
    margin-bottom: 143px;
}

.portal-box1 {
    width: 471px;
    height: auto;
    margin: auto;
}

h3 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-family: Inter;
    margin-left: 15px;


}

p {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;

    /* margin-top: 16px; */
}

ul {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

h4 {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: -5px;
    margin-left: 15px;
}

hr {
    width: 620px;
    height: 1px;
    background: #4C4B49;
    margin-top: 60px;
}

.portal-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.portal-btn {
    padding: 16px 35px;
    border-radius: 4px;
    border: 2px solid#F4D150;
    background: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
}

/* Mobile view */
@media (max-width: 600px) {


    h1 {
        font-size: 20px;
        margin-top: 40px;
    }

    .portal-box {
        /* margin: auto; */
        width: 320px;
        margin-top: 34px;
    }

    .portal-box1 {
        /* width: auto; */
        margin-top: 40px;
        width: 280px;


    }

    h3 {
        text-align: center;
        font-size: 18px;
    }

    p,
    ul,
    h4 {
        font-size: 14px;
    }

    hr {
        /* width: auto; */
        width: 280px;
        margin-top: 30px;
    }

    .portal-button {
        display: flex;
        justify-content: center;
        margin-top: 39px;
        margin-bottom: 56px;

    }

    .portal-box {
        margin-bottom: 80px;

    }

}