
h1 {
    text-align: center;
    color: #4C4B49;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 84px;

}

.portal-box {
    border: 3px solid hwb(144 86% 8%);
    width: 705px;
    height: auto;
    margin: auto;
    background-color: white;
    margin-top: 19px;
}

.portal-box1 {
    width: 471px;
    height: auto;
    margin: auto;
}

h3 {
    margin-top: 40px;
    margin-bottom: 16px;
}


p {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;

}

ul {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

h4 {
    color: #4C4B49;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: -15px;
}

hr {
    width: 620px;
    height: 1px;
    background: #4C4B49;
    margin-top: 60px;
}

.portal-btn {
    padding: 16px 35px;
    margin-left: 40%;
    border-radius: 10px;
    border: 2px solid #F4D150;
    background: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    margin-top: 60px;
    margin-bottom: 60px;
}


/* Mobile view */
@media (max-width: 767px) {
    .portal-box {
        width: 320px;
        height: auto;
    }
    hr {
        width: 280px;
        height: 1px;
    
    }
    .portal-btn {
        padding: 16px 35px;
        margin-left: 25%;
        border-radius: 4px;
        margin-bottom: 56px;
   
    }
    .portal-box1 {
        width: 280px;
        height: auto;
        margin: auto;
    }

  }